<!DOCTYPE html>

<head>
	<title>outdoor-spider</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcL3GY_81kL6edpJ6zRwEu5Qpy0DqhGUw&sensor=false">
    </script>
	<script src="/static/main.js"></script>
</head>

<body>
	<div>
		<h1 id="title">Outdoor Spider - test page for JavaScript</h1>
	</div>
	<ul id=city-list-start>
		<li>Milano</li>
		<li>Torino</li>
		<li>Busto Arsizio</li>
	</ul>
	<ul id=city-list-end>
		<li>Trento</li>
		<li>Venezia</li>
		<li>Finale Ligure</li>
	</ul>
	<button type="button" id="load_lists">
		create matrix
	</button>
	<button type="button" id="display_matrix">
		display matrix
	</button>
	<div id="response"></div>
</body>
</html>
